venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite
*.sqlite3
instance/
.venv
app/laboratorio.db
*.log
.DS_Store
__pycache__
*.py[cod]
*$py.class
.env
migrate_to_supabase.py
fix_supabase_schema.py
clean_duplicates.py
delete_duplicate_tables.py
app/static/uploads/
!app/static/uploads/.gitkeep
